*{
    margin:0;
    box-sizing:border-box;

}
body{
    background-image: url("background_image.jpg");
    background-size:cover;
    background-repeat: no-repeat;

}


.header{
    background-color: transparent;
    color:black;
    font-weight:solid;
    font-size: 2rem;
    font-style: italic;
    border:2px solid transparent;
    display:flex;
    flex-direction:row;
    align-items:center;
}
img{
    position:relative;
    left:16rem;
}
.items{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-grow:1;
}
.span{
    margin:2rem;
}
