*{margin: 0;padding: 0;}

.page{
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr;

}

.header{
    grid-column-start: 1;
    grid-column-end:-1;
    border:2px solid black;
}
/* .layout{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75vh;
}
.content{
    background: rgb(94, 86, 86);
    border: 2px solid black
} */
.block1{
    grid-row-start: 2;
    grid-row-end:6;
    grid-column-start:1;
    grid-column-end:2;

    border:2px solid black;

}
.block2{
    grid-row-start: 2;
    grid-row-end:6;
    grid-column-start:2;
    grid-column-end:-1;
    
    border:2px solid black;

}
.float{
    position:relative;
    border:2px solid black;
    /* z-index: 1; */
    background-color:grey;
    bottom:3rem;
    left:12rem;
}

